<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_1">
    <display-name>kicsa</display-name>
    <context-param>
        <param-name>log4j-init-file</param-name>
        <param-value>/WEB-INF/log4j.lcf</param-value>
    </context-param>
    <servlet>
        <servlet-name>PrecoDetail</servlet-name>
        <jsp-file>EmployeeDetail.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SkillTree.jsp</servlet-name>
        <jsp-file>SkillTree.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SkillEdit.jsp</servlet-name>
        <jsp-file>SkillEdit.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SkillDetail.jsp</servlet-name>
        <jsp-file>SkillDetail.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Admin.jsp</servlet-name>
        <jsp-file>Admin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Header.jsp</servlet-name>
        <jsp-file>Header.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ActionServlet</servlet-name>
        <description>Specialisation de la servlet Struts pour initialisations specifiques a l'application</description>
        <servlet-class>org.orange.kicsa.presentation.control.KicsaActionServlet</servlet-class>
        <init-param>
            <param-name>locale</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>nocache</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>EmployeeEdit.jsp</servlet-name>
        <jsp-file>EmployeeEdit.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EmployeeSearch.jsp</servlet-name>
        <jsp-file>EmployeeSearch.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>index.jsp</servlet-name>
        <jsp-file>index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SkillSearch.jsp</servlet-name>
        <jsp-file>SkillSearch.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginError.jsp</servlet-name>
        <jsp-file>LoginError.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActionServlet</servlet-name>
        <url-pattern>/action/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>action/Home</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/SystemError.jsp</location>
    </error-page>
    <error-page>
        <exception-type>org.orange.util.NotImplementedException</exception-type>
        <location>/UnderConstruction.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/AccessDenied.jsp</location>
    </error-page>
    <resource-ref id="ResourceRef_1">
        <res-ref-name>jdbc/KicsaDataSource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <taglib>
        <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>WEB-INF/struts-form.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-form.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/kicsa.tld</taglib-uri>
        <taglib-location>/WEB-INF/kicsa.tld</taglib-location>
    </taglib>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SkillEdit</web-resource-name>
            <url-pattern>/action/SkillEdit</url-pattern>
            <url-pattern>/SkillEdit.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>SkillEditor</role-name>
            <role-name>AdminEditor</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AdminEdit</web-resource-name>
            <url-pattern>/action/Admin</url-pattern>
            <url-pattern>/Admin.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>DELETE</http-method>
            <http-method>HEAD</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>AdminEditor</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>EmployeeEdit</web-resource-name>
            <url-pattern>/action/EmployeeEdit</url-pattern>
            <url-pattern>/EmployeeEdit.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>DELETE</http-method>
            <http-method>HEAD</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>EmployeeEditor</role-name>
            <role-name>AdminEditor</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>default</realm-name>
        <form-login-config>
            <form-login-page>/Login.jsp</form-login-page>
            <form-error-page>/LoginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>AdminEditor</role-name>
    </security-role>
    <security-role>
        <role-name>EmployeeEditor</role-name>
    </security-role>
    <security-role>
        <role-name>SkillEditor</role-name>
    </security-role>
    <security-role>
        <role-name>EmployeeViewer</role-name>
    </security-role>
</web-app>
